h3 {
  color:black
}

body {
  background-color: #82D173;
}

.nome {
  text-align: center;
  height: 100px;
}

.nome h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutme {
  height:300px;
}


#sobremim-texto {
  float: right;
  font-family:'Times New Roman', Times, serif;
} 

.aboutme img{
  float:left;
  border-radius: 10%;
  height: 300px;
}

.aboutme em {
  font-style:italic;
}

div {
  border: 2px solid yellow;
}